In [67]:
import os, math
import numpy as np
import pandas as pd


def check_prereqs():
    if layers:
        

directory = "/media/eroglulab/Chaichontat/New folder/Olg2"

layers = True
first = True
f = open(directory + "/" + "Output.txt", 'w')

for file in os.listdir(directory):
    if file.endswith(".csv"):
        data = pandas.read_csv(directory + "/" + file)
        data.drop(data.columns[0], axis='columns', inplace=True) # Remove count column
        
        if first:
            bigdata = pd.DataFrame
            checkprereqs()

        f.write(file + "\t")
        f.write(str(data.size) + "\t")
        output = segmentbyXY('Y', 140)
        
        for i in range(len(output)):
            f.write("{:d}".format(output[i]) + "\t")
        f.write("\n")
        
f.close()

In [2]:
import os, math
import numpy as np
import pandas as pd

directory = "/media/eroglulab/Chaichontat/New folder/Olg2"
file ="Olg2_Stitched_DEP30.9_P8FWT_488Olg2_594NeuN_647Sox9_ACC23_P1_A01_G001.tif.csv"

data = pandas.read_csv(directory + "/" + file)
data.drop(data.columns[0], axis='columns', inplace=True) # Remove count column

NameError: name 'pandas' is not defined

In [42]:
col = data.columns.values

In [36]:
total = data.size # Total count

141

In [16]:
maximum / thr

6.271164285714287

In [65]:
def segmentbyXY(axis, thr):
    column = data[axis]
    maximum = column.max()
    numlayer = math.floor(maximum / thr) + 1 # To get last partial layer
    
    thrarray = [i*thr for i in range(numlayer+1)] # Values are minimum X or Y
    result = np.zeros(numlayer, dtype=np.int64)
    for i in range(numlayer):
        result[i] = column[(column > thrarray[i]) & (column > thrarray[i+1])].values.size
    return result

In [28]:
numlayer=6

In [31]:
thrarray = [i*thr for i in range(numlayer+1)]

In [43]:
col

array(['Area', 'X', 'Y'], dtype=object)

Empty DataFrame
Columns: [Area, X, Y]
Index: []